<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text="${about}">this is about page</title>
</head>
<body>

<section>
<div class="card  mr-3 ml-3">

<div class="card-body ">

<h1 class="text-center">
Your Contact
</h1>


<!-- Search button -->

 <div class="search-container my-4">
 
 <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Serach Your Contacts" />
 
 <div class="search-result">
<!-- Search results goes here -->
<h1>this is search page</h1>
 </div>
 
 </div>

<!-- show contacts -->
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
 
  <tbody>
    <tr th:each="c :${contact}">
      <th scope="row" th:text="'SCM23'+${c.cId}" ></th>
      
      <td>
      <img alt="profile photo" class="my_profile_picture" th:src="@{'/img/'+${c.image}}">
      <span th:text="${c.name}"></span>
      </td>
      <td th:text="${c.phone}"></td>
      <td><a th:href="@{'/user/contact/'+ ${c.cId}}"> <span th:text="${c.email}"></span> </a></td>
    
      <td>
            <form th:action="@{'/user/update_contact/'+ ${c.cId}}" method="post">
            <button type="submit"   class="btn btn-primary btn-sm">Update</button>
            </form>
            
      <a  href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm mt-2">Delete</a>
      </td>
  
    </tr>
  </tbody>
</table>
</div>


<!-- PEGINATIONS  -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a th:if="${currentpage!=0}" th:href="@{'/user/show-contacts/'+${currentpage-1}}"  class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentpage==i-1 ? 'active':''}" class="page-item" th:each="i : ${#numbers.sequence(1,totalpages)}"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"> <span th:text="${i}"></span> </a></li>
    
    <li class="page-item"><a th:if="${currentpage+1!=totalpages}" th:href="@{'/user/show-contacts/'+${currentpage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>


</div>

<script>

$(document).ready(()=>{
    $(".item").removeClass("active");
    $("#contact-link").addClass('active');

});
</script>

</section>

</body>
</html>