<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>this is home page</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

<div class="text-center">

<h1 class="font-weight-bold">Smart Contact Manager</h1>
<p>A smart contact manager is a digital tool that helps individuals and businesses manage their contacts more efficiently. It is designed to streamline the process of storing, organizing, and retrieving contact information, making it easier to stay connected with people.</p>
<button class="btn bg-primary btn-lg text-white">Get Start</button>
</div>




</section>

</body>
</html>